<!-- 풋터 -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <title>footer</title>
</head>
<body>

</body>
</html>
<div class="footer">
    회사명 JSP  대표이사 박지수 E pswkih2@naver.com F 010-XXXX-XXXX
</div>