<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="HeaderTop">

    <div class="HeaderRight" >
        {{#userName}}
            <!-- 로그인 상태일 때 -->
            <span>
                {{userName}}님
                <a href="/profile/logout">로그아웃</a>
                <a href="/profile/update">내 정보 수정하기</a>
            </span>
        {{/userName}}
        {{^userName}}
            <!-- 로그인 상태가 아닐 때 -->
            <a href="/main/login">로그인</a>
        {{/userName}}
    </div>
</div>
<a href="/main"><img id="homelogo" src="/images/homelogo.jpg"></a>
<nav class="nav">
    <ul class="first-ul">
        <a href="/news/notices">공지사항</a>
        <a href="/news/events">이벤트</a>
        <a href="/character/search">캐릭터검색</a>
        <a href="/community/freeBoard">자유게시판</a>
        <a href="/gamecontents/challenge">게임콘텐츠</a>
    </ul>
</nav>


{{#msg}}
    <div class="alert alert-primary alert-dismissible">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/msg}}




</body>
</html>
