{{>layouts/header}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
    <link rel="stylesheet" type="text/css" href="/css/freeBoard.css">
</head>
<body>

<div class="freeBoard-container">
    <h1>자유게시판</h1>


        <form action="/community/freeBoard/search" method="get" class="freeBoard-form">
            <input type="text" name="keyword" class="form-control" placeholder="검색어를 입력해주세요" required>
            <button type="submit" class="freeBoard-btn">검색</button>
        </form>

    <div class="freeBoard-main">
    <h2>게시판 목록</h2>
    <table class="freeBoard-table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        {{#freeBoardResults}}
            <tr>
                <td>{{id}}</td>
                <td class="title-td"><a href="/community/freeBoard/{{id}}" class="link-primary">{{title}}</a></td>
                <td>{{username}}</td>
            </tr>
        {{/freeBoardResults}}

        {{#freeBoardList}}
            <tr>
              <td>{{id}}</td>
               <td class="title-td"><a href="/community/freeBoard/{{id}}" class="link-primary">{{title}}</a></td>
               <td>{{username}}</td>
            </tr>
        {{/freeBoardList}}
        </tbody>
    </table>

        {{#userName}}
        <a href="/community/freeBoard/new" class="write-button">글작성</a>
        {{/userName}}

        {{^userName}}
            <a href="/main/login" onclick="alert('로그인 후 글을 작성해주세요!'); setTimeout(function(){ window.location.href='/main/login'; }, 100);
             return false;" class="write-button">글작성</a>
        {{/userName}}
    </div>
</div>

{{>layouts/footer}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-oBqDVmMz4fnFO9xII3SwmN9ALqAR0cP9+zQ4pE3x5m5s10sHf5xnkJdC5yHqZ9xQ" crossorigin="anonymous"></script>
</body>
</html>
