<!-- 자유게시판 상세 -->
{{>layouts/header}}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/freeBoardShow.css">
    <title>자유게시판 상세</title>
</head>
<body>

<div class="show-container">
    <div class="show-head">
        {{#freeBoard}}
            <span class="show-id">{{username}}</span>
            <span style="margin-left: 60px;">작성일: {{createdAt}}</span>
            <span class="show-username"> 좋아요: {{likeCount}} 조회수: {{viewCount}}</span>
        {{/freeBoard}}
    </div>

    <div class="show-name">
        {{#freeBoard}}
            <span class="show-title">{{title}}</span>
        {{/freeBoard}}
    </div>

    <div class="show-main">
        {{#freeBoard}}
            <span class="show-content">{{content}}</span>
        {{/freeBoard}}
    </div>

    <div class="like-container">
        <form action="/community/freeBoard/{{freeBoard.id}}/toggleLike" method="post">
            <button type="submit" class="like-button">
                {{#userName}}
                    {{#isLiked}}좋아요 취소{{/isLiked}}
                    {{^isLiked}}좋아요{{/isLiked}}
                {{/userName}}
                {{^userName}}
                    <a href="/main/login"
                       onclick="alert('로그인 후 좋아요를 눌러주세요!'); setTimeout(function(){ window.location.href='/main/login'; }, 100); return false;"
                       style="text-decoration: none; color: inherit; background: none; border: none; outline: none; cursor: default;">
                        좋아요
                    </a>
                {{/userName}}
            </button>
        </form>
    </div>

    <div class="edl-controller">
        <a href="/community/freeBoard" class="write-button">목록</a>
        {{#isAuthor}}
            <div class="edit-delete-buttons">
                <a href="/community/freeBoard/{{freeBoard.id}}/edit" class="write-button">수정</a>
                <a href="/community/freeBoard/{{freeBoard.id}}/delete" class="write-button">삭제</a>
            </div>
        {{/isAuthor}}
    </div>

    {{>comments/freeBoard_comments}}
</div>
</body>
</html>
<script>
    const paragraphs = document.querySelectorAll('span');
    paragraphs.forEach(paragraph => {
        paragraph.innerHTML = paragraph.innerHTML.replace(/T/g, ' ');
    });
</script>
{{>layouts/footer}}
