<!-- 자유게시판 상세 -->
{{>layouts/header}}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/freeBoardShow.css">
    <title>자유게시판 상세</title>
</head>
<body>

<div class="show-container">
    <div class="show-head">
        {{#freeBoard}}
            <span class="show-id">{{id}}</span>
            <sapn> 작성일 </sapn>
            <span class="show-username">{{username}}</span>
        {{/freeBoard}}
    </div>

    <div class="show-name">
        {{#freeBoard}}
            <span class="show-title">{{title}}</span>
        {{/freeBoard}}
    </div>

    <div class="show-main">
        {{#freeBoard}}
            <span class="show-content">{{content}}</span>
        {{/freeBoard}}
    </div>

    <div class="edl-controller">
        <a href="/community/freeBoard" class="write-button">목록</a>
        <div class="edit-delete-buttons">
            <a href="/community/freeBoard/{{freeBoard.id}}/edit" class="write-button">수정</a>
            <a href="/community/freeBoard/{{freeBoard.id}}/delete" class="write-button">삭제</a>
        </div>
    </div>

{{>comments/freeBoard_comments}}
</div>
</body>
</html>
{{>layouts/footer}}