<!doctype html>
<html>
<head>
    <title>Comment new</title>
    <style>
        #comments-new {
             background: rgb(43,45,49)!important;
        }
        .write-button {
             padding: 10px;
             font-size: 16px;
             color: #FFF;
             border-radius: 5px;
             transition: all 0.2s;
             background: #5F9CEC;
             text-decoration: none;
             width: 55px;
             align-items: center;
             justify-content: center;
        }

        .write-button:hover {
             color: #FFF;
             background: #4A8BC2;
             transform: scale(1.05);
             box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
<div class="card m-2" id="comments-new">

    <div class="card-body">
        <form>
            <div class="mb-3">
                {{#userName}}
                    <!-- 로그인 상태일 때 -->
                    {{userName}}
                {{/userName}}

                {{^userName}}
                    <!-- 로그인 상태가 아닐 때 -->
                    <span>로그인 후 댓글을 작성할 수 있습니다.</span>
                {{/userName}}
            </div>
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea type="text" class="form-control" rows="3" id="new-comment-body"
                    {{^userName}} onclick="window.location.href='/main/login';" {{/userName}}></textarea>

            </div>
            {{#freeBoard}}
                <input type="hidden" id="new-comment-freeBoard-id" value="{{id}}">
            {{/freeBoard}}

            <button type="button" class="write-button" id="comment-create-btn">작성</button>
        </form>
    </div>
</div>
</body>
</html>
<script>
    {
      const commentCreateBtn = document.querySelector("#comment-create-btn");

      commentCreateBtn.addEventListener("click", function(){
      const comment = {
        body : document.querySelector("#new-comment-body").value,
        freeBoardId : document.querySelector("#new-comment-freeBoard-id").value
      };

      const url = "/community/freeBoard/" + comment.freeBoardId + "/comments";
      console.log(url);
      fetch(url, {
        method: "POST",
        headers: {
          "Content-type": "application/json"
      },
        body: JSON.stringify(comment)
      }).then(response => {
        const msg = (response.ok) ? "댓글이 등록됐습니다." : "댓글 등록 실패";
        alert(msg);
        window.location.reload();
      });
      });
    }
</script>

