{{>layouts/header}}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/characterSearch.css">
    <title>캐릭터 상세</title>
    <script src="/js/character.js" defer></script>



</head>
<body>

<div class="character-container">
{{#characterProfile}}
    <div class="character-left">
    <div class="character-info">
        <div class="character-details" style="background-image: url('{{characterImage}}'); background-color: rgb(21, 24, 29);; background-size: 70% 100%; background-position: right center; background-repeat: no-repeat;">
            <p id="searchFirst">원정대 레벨: {{expeditionLevel}}</p>
            <p>PVP: {{pvpGradeName}}</p>
            <p>아이템: {{itemAvgLevel}}</p>
            <p>칭호: {{title}}</p>
            <p>서비: {{serverName}}</p>
            <p>전투레벨: {{characterLevel}}</p>
            <p>클래스: {{characterClassName}}</p>
            <p>길드: {{guildName}}</p>
            <p>영지: LV.{{townLevel}} {{townName}}</p>
            <p>이름: {{characterName}}</p>
            <!--
            <p>사용스킬포인트: usingSkillPoint</p>
            <p>전체스킬포인트: totalSkillPoint</p>
            -->
        </div>
    </div>

        <div class="tab-menu">
            <button id="menu-ability" type="button">
                <p>능력치</p>
            </button>

            <button id="menu-skill" type="button">
                <p>스킬</p>
            </button>

            <button id="menu-avatar" type="button">
                <p>아바타</p>
            </button>

            <button id="menu-collectPoint" type="button">
                <p>수집 포인트</p>
            </button>

        </div>
    </div>
{{/characterProfile}}

    <div class="character-right">
        <div class="tab-ability">
            <div class="equipment-container">
                <div class="left">
                    <h3>장비</h3>
                    {{#leftEquipments}}
                        <div class="characterEquipments">
                            <img src="{{icon}}" alt="Armories Image" class="armory-image" style="width : 50px; height : 50px; border-radius : 5px;">
                            <div class="details">
                                <span class="equipmentType">{{type}}</span>
                                <span class="equipmentGrade" id="equipmentGrade">{{grade}}</span>
                                <span class="equipmentName" id="equipmentName">{{name}}</span>
                            </div>
                        </div>
                    {{/leftEquipments}}
                </div>

                <div class="right">
                    {{#rightEquipments}}
                        <div class="characterEquipments">
                            <img src="{{icon}}" alt="Armories Image" class="armory-image" style="width : 50px; height : 50px; border-radius : 5px;">
                            <div class="details">
                                <span class="equipmentType">{{type}}</span>
                                <span class="equipmentGrade" id="equipmentGrade">{{grade}}</span>
                                <span class="equipmentName" id="equipmentName">{{name}}</span>
                            </div>
                        </div>
                    {{/rightEquipments}}
                </div>
            </div>

            <div class="gem-container">
        {{#characterGems}}
            {{#Gem}}
                <!--
                slot
                name
                level
                 -->
                <p class="gemGrade" style="display: none;">{{grade}}</p>
                <img src="{{{icon}}}" alt="gem Image" class="gem-image" width="55" height="55">
            {{/Gem}}
            {{#armoryGemEffect}}
                <!-- <p>Tooltip:</p> 이거 넣으면 오류생김 키가 없다고 뜨는것을 보아 값이 없나봄-->
                <!--
                description
                {gemEffect}
                    gemSlot
                    name
                    description
                    option
                    <img src="icon" alt="gemEffect Image" width="70" height="70">
                    {gemEffect}

                -->
            {{/armoryGemEffect}}
        {{/characterGems}}
            </div>

        {{#characterProfile}}
            <div class="sea-container">
            <div class="stat-container">
            <h3>전투 특성</h3>
            <div>
                {{#stats}}
                    <div>
                        <p>{{type}}  {{value}}</p>
                    </div>
                {{/stats}}
            </div>
            </div>
        {{/characterProfile}}

        {{#characterEngravings}}
            <div class="engraving-container">
                <h3>각인</h3>
            {{#engraving}}
                <!--
                slot
                name
                icon
                -->
            {{/engraving}}

            {{#engravingEffect}}
               <p style="margin: 8px;"><img src="{{icon}}" alt="effect Image" width="30px" height="30px" >  {{name}}</p>
                <!--description-->
            {{/engravingEffect}}
            {{#arkPassiveEffect}}
                <p>{{grade}}: x{{level}} {{name}} <img src="/images/engrave0.png"> {{abilityStoneLevel}}</p>
                <!--description-->
            {{/arkPassiveEffect}}
            </div>
        {{/characterEngravings}}
        </div>


        {{#characterArkPassives}}
        <div class="ark-container">
            <!-- isArkPassive, Tooltip -->
            {{#ArkPassivePoint}}
                <p class="ark-name">{{name}} : {{value}}</p>
            {{/ArkPassivePoint}}
        <div class="ark-main">
            {{#ArkPassiveEffectSkill}}
                <p style="display: flex; align-items: center; border-radius:5px;">
                    <img src="{{icon}}" alt="arkPassive Image" width="40" height="40">
                    <span style="font-size: 12px;">{{{description}}}</span>
                </p>

            {{/ArkPassiveEffectSkill}}
        {{/characterArkPassives}}
        </div>
        </div>
        {{#characterCards}}
            <div class="card-container">
                {{#Card}}
                    <!--slot
                    grade
                    awakeCount
                    awakeTotal
                    tooltip-->
                    <div class="card-main" style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{{icon}}" alt="card Image" width="100" height="150">
                        <p style="font-size: 12px;">{{name}}</p>
                    </div>
                    {{/Card}}

                <div class="card-Effect">
                    {{#CardEffect}}
                        {{#Effect}}
                            <p>{{name}} : {{description}}</p>
                        {{/Effect}}
                    {{/CardEffect}}
                </div>
            </div>
        {{/characterCards}}
        </div>


<!-- 아바타 -->
        <div class="tab-avatar">
            {{#characterProfile}}
            <div class="tendencies">
                    {{#tendencies}}
                            <span class="tendencies-stat">{{type}} {{point}}</span>
                    {{/tendencies}}
            </div>
            {{/characterProfile}}

                    <div class="avatar-container" style="background-color: rgb(21, 24, 29);">
                        <div class="avatar-image-container">
                        {{#characterProfile}}
                            <img src="{{characterImage}}" alt="Character Image" class="character-image">
                        {{/characterProfile}}
                        </div>

                        <div class="leftAvatars">
                            {{#leftAvatars}}
                                <div class="avatar-main">
                                    <img src="{{icon}}" alt="Avatar Image" class="avatar-image" style="width: 50px; height: 50px; border-radius: 5px;">
                                    <div class="details">
                                        <span class="avatarType">{{type}}</span>
                                        <span class="avatarName">{{name}}</span>
                                        <span class="avatarGrade" style="display: none;">{{grade}}</span>
                                    </div>
                                </div>
                            {{/leftAvatars}}
                        </div>

                        <div class="rightAvatars">
                            {{#rightAvatars}}
                                <div class="avatar-main">
                                    <img src="{{icon}}" alt="Avatar Image" class="avatar-image" style="width: 50px; height: 50px; border-radius: 5px;">
                                    <div class="details">
                                        <span class="avatarType">{{type}}</span>
                                        <span class="avatarName">{{name}}</span>
                                        <span class="avatarGrade" style="display: none;">{{grade}}</span>
                                    </div>
                                </div>
                            {{/rightAvatars}}
                        </div>
                    </div>
                </div>

        <!-- 스킬 -->
        <div class="tab-skill">
            <h3>스킬</h3>
            {{#characterCombatSkills}}
                <div class="skill-container">
                <div class="skill-main">
                    <img src="{{icon}}" alt="Skill Image" width="50px;" height="50px;">
                    <div class="skill-main-details">
                    <span class="skill-level">{{level}} 레벨</span>
                    <span>{{name}}</span>
                    </div>
                </div>
                <div class="tripod">
                    {{#tripods}}
                        {{#isSelected}} <!-- isSelected가 true일 때만 출력 -->
                            <div class="tripod-item">
                                <img src="{{icon}}" alt="tripod Image" width="40px;" height="40px;">
                                <div class="tripod-items-details">
                                <span>{{name}}</span>
                                <span>lv. {{level}}</span>
                                <span style="display: none;">IsSelected: {{isSelected}}</span>
                                </div>
                            </div>
                        {{/isSelected}}
                    {{/tripods}}
                </div>
                <div class="rune">
                    {{#rune}}
                        <div class="rune-item">
                            <img src="{{icon}}" alt="Rune Image" width="30" height="30">
                            <span>{{name}}</span>
                            <span style="display: none;">{{grade}} 룬</span>
                        </div>
                    {{/rune}}
                </div>
                </div>
            {{/characterCombatSkills}}
        </div>

        <div class="tab-collectPoint">
            {{#characterCollectibles}}
                <div class="collectible-container" id="collectible-{{type}}">

                    <img src="{{icon}}" alt="collectibles Image" width="40" height="40">
                    <div class="collectibles-details">
                        <span>{{type}}</span>
                        <span>{{point}}/{{maxPoint}}</span>
                    </div>

                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" data-point="{{point}}" data-maxpoint="{{maxPoint}}"></div>
                    </div>


                    <button class="toggle-points-btn" data-type="{{type}}">보기</button>
                </div>


                <div class="collectible-points" id="points-{{type}}" style="display: none;">
                    {{#CollectiblePoint}}
                        <div class="collectible-content">
                            <span class="point-name">{{pointName}}</span>
                            <span class="check-status {{#isChecked}}checked{{/isChecked}}"></span>
                            <span class="point" style="margin-left: 5px;">{{point}}/{{maxPoint}}</span>
                        </div>
                    {{/CollectiblePoint}}
                </div>
            {{/characterCollectibles}}
        </div>



        {{#error}}
    <div style="color: red;">
        <p>{{error}}</p>
    </div>
{{/error}}
</div>
</div>
</body>
</html>

<script src="/js/characterDisplay.js" defer></script>
<script src="/js/characterCollect.js" defer></script>
{{>layouts/footer}}