{{>layouts/header}}
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <title>메인 페이지</title>

</head>
<body>
<div class="frame-container">
   <div class="MainEvent">
       <div class="swiper-container">
           <div class="swiper-wrapper">
               {{#events}}
                   <div class="swiper-slide">
                       <p><a href="{{Link}}" target='_blank'><img src="{{Thumbnail}}" alt="Event Thumbnail"></a></p>
                       <div class="swiper-title"> <a href="{{Link}}" target='_blank'>{{Title}}</a></div>
                   </div>
               {{/events}}
           </div>

           <div class="swiper-pagination"></div>
           <div class="swiper-control">
               <div class="swiper-button-next"></div>
               <div class="swiper-button-prev"></div>
           </div>
       </div>
   </div>

   <div class="CharacterSearch">
       <span class="searchText">캐릭터 검색</span>
       <form id="searchForm" method="get" onsubmit="submitForm(); return false;">
           <input type="text" id="characterName" class="form-control" name="characterName" placeholder="캐릭터명을 입력해주세요" required>
           <button id="mainSearchButton" class="mainSearch-btn" type="submit">검색</button>
       </form>
   </div>



    <div class="limitFreeBoard-container">
        <span id="limitFreeBoard-font">자유게시판</span>
        <div class="limitFreeBoard">
            {{#limitFreeBoards}}
                <li class="limitFreeBoard-list">
                    <span class="type">자유  </span>
                    <a href="/community/freeBoard/{{id}}">{{title}}</a>
                    <span class="mainDate">{{createdAt}}</span>
                </li>
            {{/limitFreeBoards}}
            <a href="/community/freeBoard" id="noticesPlus">자유게시판 더보기</a>
        </div>
    </div>



    <div class="MainNews-container">
    <span id="NewNews-font">공지사항</span>
    <div class="MainNews">
        {{#notices}}
            <li class="MainNew-list">
                <span class="type">{{Type}}</span>
                <a href="{{Link}}" target='_blank'>{{Title}}</a>
                <span class="mainDate">{{Date}}</span>
            </li>
        {{/notices}}
        <a href="/news/notices" id="noticesPlus">공지사항 더보기</a>
    </div>
    </div>

<!--
        <h3 style=" margin-left: 220px;">도전 가디언 토벌</h3>
        <div class="guardian-container">
            {{#guardians}}
                {{#raids}}
                    <div class="guardian-main">
                        <h2>name</h2>
                        <p style="border-radius: 10px;"><img src="image" alt="Raid Image" /></p>
                        <p>description</p>
                        <p>입장 레벨: minItemLevel</p>
                        <p>입장 가능 시간: startTime ~ endTime</p>
                    </div>
                {{/raids}}


        <h3>보상 아이템</h3>
        {{#rewardItems}}
            <div class="reward-icon">
                {{#items}}
                    <div class="item">
                       name
                        icon

                    </div>
                {{/items}}
            </div>
        {{/rewardItems}}


            {{/guardians}}
            {{#challengeError}}
                <div style="color: red;">
                    <p>challengeError</p>
                </div>
            {{/challengeError}}
        </div>

-->


<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        autoplay: {
            display: 10000,
        },
        loop: true,
        slidesPerView: 1,
        spaceBetween: 10,
        centerSlides: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

    });
</script>

<script type="text/javascript">
    function submitForm() {
        var characterName = document.getElementById("characterName").value;
        var form = document.getElementById("searchForm");
        form.action = "/characters/" + encodeURIComponent(characterName);
        form.submit();
    }
</script>

<script>
    const paragraphs = document.querySelectorAll('span');
    paragraphs.forEach(paragraph => {
        paragraph.innerHTML = paragraph.innerHTML.replace(/T/g, ' ');
    });
</script>
</body>
</html>
{{>layouts/footer}}